<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
      <handlers>
            <add name="httppPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
      </handlers>
      <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
          arguments="-jar &quot;%HOME%\site\wwwroot\bin\selenium-server-standalone-2.53.1.jar&quot;"
          startupTimeLimit="20"
          startupRetryCount="10"
          stdoutLogEnabled="true">
      </httpPlatform>
  </system.webServer>
</configuration>
